
#task-template {
  display: none;
}

@-webkit-keyframes working {
     50% {background-color: white;}
     100% {background-color: #E4FFD4;}
}

.working {
  -webkit-animation: working 3s infinite alternate;
  background-color: white;
}

@-webkit-keyframes idle {
     70% {background-color: white;}
     71% {background-color: red;}
     72% {background-color: white;}
     73% {background-color: red;}
     74% {background-color: white;}
     75% {background-color: red;}
     76% {background-color: white;}
}

.idle {
  -webkit-animation: idle 30s infinite alternate;
  background-color: white;
}
